In [4]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [3]:
import warnings
warnings.filterwarnings('ignore')

## Question 1
### What is the average growth (in %) of GDP in 2023?

In [38]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start_date = date(year=2000, month=1, day=1)
print(f'Period for indexes: {start_date} to {end} ')

Year = 2024; month= 4; day=22
Period for indexes: 2000-01-01 to 2024-04-22

In [39]:
gdp_2023 = pdr.DataReader('GDPC1', 'fred', start_date)

In [40]:
gdp_2023

                GDPC1
DATE
2000-01-01  13878.147
2000-04-01  14130.908
2000-07-01  14145.312
2000-10-01  14229.765
2001-01-01  14183.120
...               ...
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

[96 rows x 1 columns]

In [41]:
gdp_2023['YoY'] = gdp_2023.GDPC1/gdp_2023.GDPC1.shift(4)-1

In [42]:
gdp_2023.tail()[1:]['YoY'].mean().round(4) * 100

2.54

## Question 2
- Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

In [43]:
dgs10 = pdr.DataReader("DGS10", "fred", start=start_date)
dgs10.tail()

            DGS10
DATE
2024-04-12   4.50
2024-04-15   4.63
2024-04-16   4.67
2024-04-17   4.59
2024-04-18   4.64

In [44]:
dgs2 = pdr.DataReader('DGS2', 'fred', start=start_date)
dgs2.tail()

            DGS2
DATE
2024-04-12  4.88
2024-04-15  4.93
2024-04-16  4.97
2024-04-17  4.93
2024-04-18  4.98

In [47]:
dgs10_2 = dgs10.join(dgs2)

In [48]:
dgs10_2['diff'] = dgs10_2.DGS10 - dgs10_2.DGS2

In [49]:
dgs10_2

            DGS10  DGS2  diff
DATE
2000-01-03   6.58  6.38  0.20
2000-01-04   6.49  6.30  0.19
2000-01-05   6.62  6.38  0.24
2000-01-06   6.57  6.35  0.22
2000-01-07   6.52  6.31  0.21
...           ...   ...   ...
2024-04-12   4.50  4.88 -0.38
2024-04-15   4.63  4.93 -0.30
2024-04-16   4.67  4.97 -0.30
2024-04-17   4.59  4.93 -0.34
2024-04-18   4.64  4.98 -0.34

[6339 rows x 3 columns]

In [55]:
dgs10_2['diff'].min().round(1)

-1.1

## Question 3
- Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

#### S&P 500

In [80]:
snp500 = yf.download(tickers = "^GSPC",
                     period = "max",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [81]:
snp500.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-15,5149.669922,5168.430176,5052.470215,5061.819824,5061.819824,3950210000
2024-04-16,5064.589844,5079.839844,5039.830078,5051.410156,5051.410156,4006200000
2024-04-17,5068.970215,5077.959961,5007.250000,5022.209961,5022.209961,3596130000
2024-04-18,5031.520020,5056.660156,5001.890137,5011.120117,5011.120117,3619760000
2024-04-19,5005.439941,5019.020020,4953.560059,4967.229980,4967.229980,3878750000

In [85]:
# 252 trading days a year
snp500['snp500_dod'] = (snp500.Close/snp500.Close.shift(1)-1)
snp500['snp500_qoq'] = (snp500.Close/snp500.Close.shift(63)-1)
snp500['snp500_yoy'] = (snp500.Close/snp500.Close.shift(252)-1)

In [87]:
snp500.tail()

,Open,High,Low,Close,Adj Close,Volume,spx_dod,spx_qoq,spx_yoy
Date,,,,,,,,,
2024-04-15,5149.669922,5168.430176,5052.470215,5061.819824,5061.819824,3950210000,-0.012021,0.058110,0.220828
2024-04-16,5064.589844,5079.839844,5039.830078,5051.410156,5051.410156,4006200000,-0.002057,0.059889,0.220843
2024-04-17,5068.970215,5077.959961,5007.250000,5022.209961,5022.209961,3596130000,-0.005781,0.059715,0.209786
2024-04-18,5031.520020,5056.660156,5001.890137,5011.120117,5011.120117,3619760000,-0.002208,0.048145,0.206083
2024-04-19,5005.439941,5019.020020,4953.560059,4967.229980,4967.229980,3878750000,-0.008759,0.026327,0.195621

#### IPC MEX

In [59]:
ipc_mex = yf.download(tickers = "^MXX",
                     period = "max",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [88]:
# 252 trading days a year
ipc_mex['ipc_dod'] = (ipc_mex.Close/ipc_mex.Close.shift(1)-1)
ipc_mex['ipc_qoq'] = (ipc_mex.Close/ipc_mex.Close.shift(63)-1)
ipc_mex['ipc_yoy'] = (ipc_mex.Close/ipc_mex.Close.shift(252)-1)

In [89]:
ipc_mex.tail()

,Open,High,Low,Close,Adj Close,Volume,spx_dod,spx_qoq,spx_yoy
Date,,,,,,,,,
2024-04-16,56009.730469,56148.000000,55626.750000,55797.250000,55797.250000,225862900,-0.003336,0.003420,0.024554
2024-04-17,55788.738281,56090.320312,55383.250000,55415.691406,55415.691406,244258900,-0.006838,-0.001539,0.011624
2024-04-18,55597.789062,55941.621094,55585.820312,55739.429688,55739.429688,208671900,0.005842,0.011154,0.024895
2024-04-19,55811.191406,56036.718750,55579.691406,55862.851562,55862.851562,138617600,0.002214,0.021040,0.028629
2024-04-22,55852.281250,56138.351562,55771.550781,56039.210938,56039.210938,23717689,0.003157,0.024335,0.032149